.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-gap: 3px;
    grid-template-areas: 
    "n n n n n n n n n n n n"
    "v v v v v v v v v s s s"
    ;
}
.navbar{
    background-color: antiquewhite;
    grid-area: n;
    display: flex;
    justify-content: space-between;
}
.yt-logo{
    width: 100px;
}
.icon{
    font-size: 30px;
}
.search-bar{
    margin-top: 10px;
}
.upload-sign{
    margin-right: 15px;
    padding: 10px;
}
#menu-icon{
    margin-bottom: 15px;
}


.video{
    padding-top: 15px;
    text-align:center;
    background-color: burlywood;
    grid-area: v;
    grid-row: 2/200;

}
.sidebar{
    background-color: cadetblue;
    grid-area: s;
    grid-row: 2/200;

}